# Ignore everything inside Data and Graphics
Data/*
Graphics/*

# But don't ignore the subdirectories themselves
!Data/
!Graphics/

# And don't ignore the .gitkeep files
!Data/**/.gitkeep
!Graphics/.gitkeep

# Other ignores
*.DS_Store
*.Rhistory
old/
.Rproj.user
